.error {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 15px;

    .error-notificaton__wrapper {
        display: flex;
        padding: 10px 15px;
        color: rgba($color: #b40303, $alpha: 1.0);
        border-radius: 8px;
        border: 1px solid red;
    
        .error-text {
            cursor: default;
            margin: 0;
            font-size: 20px;
    
            span {
                margin-right: 3px;
                margin: 0;
            }
        }
    }
}